* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #eee;
    font-family: "Roboto", sans-serif;
  }
  .container {
    max-width: 1000px;
    background-color: #a3e1d6;
    margin: 0 auto;
    padding: 20px;
  }

  header {
  }

  .img {
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
  }
  .head {
    float: left;
    padding: 10px;
  }

  h1,
  h3,
  h5 {
    color: #0f5e63;
  }
  .contact {
    float: right;
  }
  .contact a {
    text-decoration: none;
    padding: 10px;
    color: teal;
    font-weight: bold;
  }
  .contact a:hover {
    text-decoration: underline;
    color: orangered;
  }
  .clear {
    clear: both;
  }
  hr {
    border: 3px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
  }
  .left {
    width: 30%;
    float: left;
  }

  .right {
    width: 70%;
    float: right;
  }
  .common-hr {
    border: 1px solid black;
    border-bottom: none;
  }

  .edu-left {
    width: 35%;
    float: left;
  }
  .edu-right {
    width: 35%;
    float: right;
  }

  .foot {
    background-color: black;
    text-align: center;
    padding: 10px;
  }
  .footinfo a {
    color:rgb(0, 187, 255);
    text-decoration: none;
    margin: 20px;
  }
  .footinfo p{
    color: white;
    margin-top: 20px;
  }
  .footinfo a:hover{
    color: red;
  }